[Desktop Entry]
Name=G510s
Comment=Utility for Logitech G510 and G510s Keyboards
Exec=/usr/local/bin/g510s
Icon=/usr/local/share/g510s/g510s.svg
Terminal=false
Type=Application

